:root {
    --clr-orange: #f39c12;
    --clr-pumpkin: #d35400;
    --clr-pomegranate: #c0392b;
    --clr-sunflower: #f1c40f;
    --clr-carrot: #e67e22;
    --clr-alizarin: #e74c3c;
    --clr-amethyst: #9b59b6;
    --clr-wetaspal: #34495e;
}

.boxgrid-1 {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
}

.item-1 {
    /* grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 7; */

    /* same with */
    grid-row: 1 / 4;
    grid-column: 1 / -1;
}

.item-2 {
    /* grid-row: span 2;
    grid-column: span 2; */
    grid-area: 3 / 3 / 5 / 5;
    z-index: 1;
}

.item-3 {
    /* -1 value to takeover all area */
    grid-area: 4 / 1 / -1 / -1;
}

.boxgrid-2 {
    width: 979px;
    display: grid;
    grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px;
}

.item-21 {
    background-color: var(--clr-orange);
    grid-row: 1 / 4;
    grid-column: 1 / 4;
}

.item-22 {
    background-color: var(--clr-pumpkin);
    grid-row: 1 / 5;
    grid-column: 4 / 8;
}

.item-23 {
    background-color: var(--clr-pomegranate);
    grid-row: 1 / 6;
    grid-column: 8 / 13;
}

.item-24 {
    background-color: var(--clr-sunflower);
    grid-row: 4 / 7;
    grid-column: 1 / 4;
}

.item-25 {
    background-color: var(--clr-carrot);
    grid-area: 5 / 4 / 7 / 8;
}

.item-26 {
    background-color: var(--clr-alizarin);
    grid-area: 6 / 8 / 7 / 13;
}

.item-27 {
    background-color: var(--clr-amethyst);
    grid-area: 7 / 1 / 13 / 7;
}

.item-28 {
    background-color: var(--clr-wetaspal);
    grid-area: 7 / 7 / 13 / 13;
}

.boxgrid-3 {
    display: grid;
    height: 400px;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(2, 100px);
    justify-content: space-between;
    align-content: space-between;
}

.boxgrid-4 {
    display: grid;
    height: 400px;
    grid-template-rows: repeat(1, 100px);
    grid-template-columns: repeat(auto-fit, 255px);
    justify-content: center;
    align-content: center;
}
