.container {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
}

.item-1 {
    /* grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 7; */

    /* same with */
    grid-row: 1 / 4;
    grid-column: 1 / -1;
}

.item-2 {
    /* grid-row: span 2;
    grid-column: span 2; */
    grid-area: 3 / 3 / 5 / 5;
    z-index: 1;
}

.item-3 {
    /* -1 value to takeover all area */
    grid-area: 4 / 1 / -1 / -1;
}
