:root {
    --clr-dark: #0f172a;
    --clr-light: #f1f5f9;
    --clr-accent: #e11d48;
    --clr-clouds: #ecf0f1;
    --clr-silver: #bdc3c7;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Dosis", sans-serif;
    margin: 5em 0 0 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    color: var(--clr-dark);
    background-color: var(--clr-light);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

.container {
    margin: 20px auto;
    width: 80%;
    border: 10px solid var(--clr-dark);
}

.item {
    padding: 0.5em;
    background-color: #fb7185;
    font-weight: 700;
    color: var(--clr-light);
    border: 10px solid var(--clr-silver);
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-2em {
    margin-top: 2em;
}

.mb-2em {
    margin-bottom: 2em;
}

.d-block {
    display: block;
}
